
<html>
 <center>
 	<H1> Login Below </H1> 
 	<br>
 	<form action="/login" method="post">
 	 <B> Username : </B> <input type='text' name="inputUsername"> </input>
 	<br>
 	<B> Password : </B> <input type='password' name="inputPassword"> </input>
 	<br>
 	<input type="submit">
 	</center>
 </html>