<html>
 <center>
 	<H1> Welcome to Nationwide BANKING society </H1> 
 	<br>
 	Please Login or Create a new User
 	<br>
 	<br>
 	<br>
			<A href='/login'> Login </A>
	<br>
			<A href='/user'>  User </A>
	<br>

 </html>