<html>
<form name="addform" action="/cUser" method="post">
 <b>Create User</b><br><br>
 Name:
     <input  name="name" type="text" placeholder="Enter Name" ><br><br>
 UserName:
     <input  name="username" type="text" placeholder="Enter Username" ><br><br>
 Password:
     <input  name="password" type="text" placeholder="Enter Password"> <br><br>
 Role:
    <select name="role">
         <option value="1" selected> User </option>
         <option value="2">Admin</option>
    </select><br><br>
     <input type="submit"  name="addMoreButt" >
</form>
</html>