<html>
 <center>
 	<H1> Create a New User Below </H1> 
 	<br>
 	<form action="/user" method="post">

 	 <B> Username : </B> <input type='text' name="createUsername"> </input>
 	<br>
 	<B> Password : </B> <input type='password' name="createPassword"> </input>
 	<br>
 	<B> Name : </B> <input type='text' name="createName"> </input>
 	<br>
 	<B> Role : </B> 
 	<select name="Role">
 		<option value="1">1 - Admin </option>
 		<option value="2">2 - User </option>
 	</select>
 	<br>
 	<br>
 	<input type="submit">
 </html>