<html>
<form name="addform" action="/loginCheck" method="post">
 <b>Login</b><br><br>
 UserName:
 <input  name="usernamet1" type="text" placeholder="Enter Username" ><br><br>
 Password:
 <input  name="passwordt1" type="text" placeholder="Enter Password"> <br><br>
 <input type="submit"  name="addMoreButt" >
</form>
</html>